<template>
  <div class="container">
    <h1 class="title">Customer</h1>
    

   


    <table class="table is-fullwidth">
      <thead>
          <tr>
              <th>Name</th>
              <th>Update</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody>
          <tr v-for="(customer, index) in customers" :key="customer.id">
            <td>{{ customer.name }}</td>
            <td><button class="button is-success" @click="updateCustomer(customer)">Update</button></td>
            <td><button class="button is-danger" @click="deleteCustomer( customer.id, index )">Delete</button></td>
          </tr>
      </tbody>
    </table>
    
     <form v-on:submit.prevent>
        <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Name</label>
        </div>
        <div class="field-body">
            <div class="field">
            <p class="control">
                <input class="input" type="text" placeholder="Name" v-model="name">
            </p>
            </div>
        </div>
        </div>
        <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">City</label>
        </div>
        <div class="field-body">
            <div class="field">
            <p class="control">
                <input class="input" type="text" placeholder="Name" v-model="city">
            </p>
            </div>
        </div>
        </div>
        <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Country</label>
        </div>
        <div class="field-body">
            <div class="field">
            <p class="control">
                <input class="input" type="text" placeholder="Name" v-model="country">
            </p>
            </div>
        </div>
        </div>
        <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Province</label>
        </div>
        <div class="field-body">
            <div class="field">
            <p class="control">
                <input class="input" type="text" placeholder="Name" v-model="province">
            </p>
            </div>
        </div>
        </div>
        <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Street</label>
        </div>
        <div class="field-body">
            <div class="field">
            <p class="control">
                <input class="input" type="text" placeholder="Name" v-model="street">
            </p>
            </div>
        </div>
        </div>
        <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
            <div class="control">
                <button class="button is-primary" @click="insertCustomer">
                Insert
                </button>
            </div>
            </div>
        </div>
        </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import 'bulma/css/bulma.css'
export default {
  name: 'Customer',
  data() {
    return {
      customers: []
    }
  },
  methods: {
    callApi: function() {
      const URL = "/api/customers";
      axios.get(URL)
        .then(response => {
          this.customers = response.data;
          console.log(response.data);
        })
        .catch(error => {
          console.log(error);
        })
    },
    insertCustomer:function() {
        const URL = "/api/customers";
        var address = { id: "", city: "", country: "", province: "", street: "" };
        address.country = this.country;
        address.city = this.city;
        address.province = this.province
        address.street = this.street
        axios.post(URL, {
            name: this.name,
            address: address
        })
          .then(function (response){
              console.log(response);
          })
          .catch(function (error) {
              console.log(error);
          })
          this.callApi()
    },
    deleteCustomer:function(id, index) {
        const URL = "/api/customers/" + id
        this.customers.splice(index, 1)
        axios.delete(URL)
          .then(function (response){
              console.log(response);
              
          })
          .catch(error => {
              console.log(error);
          })
    },
    updateCustomer:function(customer){
        const URL = "/api/customer/" + customer.id
        axios.put(URL, {
            name: 'abc',
        })
        .then(function (response){
              console.log(response);
          })
        .catch(function (error) {
              console.log(error);
          })
          this.callApi()
    }
  },
  mounted: function(){
      this.callApi()
  }
}
</script>

<style scoped>
</style>


